/* עיצוב טבלה */
.table {
    width: 100%;
    border-collapse: collapse;
    max-width: 1000px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #f4f4f460;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
    font-size: 16px;
  }
  .th, .td {
    padding: 12px;
    text-align: right;
  }
  .th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
  }
  .tr:hover {
    background-color: #f1f1f1;
  }
  .tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .td {
    border: 1px solid #ddd;
  }
  
  /* עיצוב כפתורים */
  .button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .blue {
    padding: 8px 16px;
    background-color: #2a6bb0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  .blue:hover {
    background-color: #1e4a7d;
  }
  
  .red {
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  .red:hover {
    background-color: #8d2525;
  }

.buttons {
    display: flex;
    justify-content: space-between;
    color: white;
    border: none;
    padding: 5px 0px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  
}

  /* עיצוב טופס עריכה */
  .editForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
  }
  .editCentner {
    background: #fff;
    margin-top: 0;
    text-align: center;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 500px;
  }
  
  .close {
    position: absolute;  
    top: 10px;           
    right: 10px;  
    width: 40px;      
    background-color: #f44336; 
    color: white;      
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    border-radius: 5px;  
    font-weight: bold; 
    font-size: 20px;
    cursor: pointer;    
    transition: background-color 0.3s;
  }
  
  .close:hover {
    background-color: #7a1212; 
  }
  


  .searchContainer {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin-bottom: 20px;
    justify-content: center;
    margin: auto;

  }
  .searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    margin-right: 10px;
  }
  .searchInput:focus {
    border-color: #007bff;
  }
  .searchIcon {
    color: #777;
    font-size: 20px;
    cursor: pointer;
  }
  